body {
	padding-top: 70px;
}

.pubDate {
	text-decoration: underline;
	padding-bottom: 4px;
}

img {
	padding: 6px;
	border: 1px solid #D0D0D0;
	margin-right: 10px;
}

.link {
	margin-top: 8px;
	padding-bottom: 2px;
	border-bottom: 1px solid #D0D0D0;
}